---
layout: blog
title: Blog
permalink: /blog/
---

<div class="container mtb">
    <div class="row">

        <! -- LISTA DE ENTRADAS -->
        <div class="col-lg-8">

            {% for post in site.categories['blog'] %}
                <! -- Blog Post -->
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ post.img }}">
                </a>    
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.title }}</h3></a>
                <p><csmall>{{ post.date | date: "%b %-d, %Y" }}. | By: {{ post.author }}</csmall></p>
                {{ post.excerpt }}
                <script id="dsq-count-scr" src="//betcon.disqus.com/count.js" async></script>
                <!-- <p><a href="{{ post.url | prepend: site.baseurl }}">[Leer mas]</a></p> -->
                <div class="hline"></div>

                <div class="spacing"></div>
            {% endfor %}

        </div><! --/col-lg-8 -->

        {% include sidebar.html %}

    </div><! --/row -->
</div><! --/container -->
