<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>Acerca de</h4>
                <div class="hline-w"></div>
                <p>{{ site.about }}</p>
            </div>
            <div class="col-lg-4">
                <h4>Redes sociales</h4>
                <div class="hline-w"></div>
                <p>
                    {% for network in site.social %}
                        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-{{ network.title }}"></i></a>
                    {% endfor %}
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Suscríbete</h4>
                <div class="hline-w"></div>
                <form action="https://feedburner.google.com/fb/a/mailverify"
                      method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=Betcon', 'popupwindow', 'scrollbars=yes,width=550,height=520');
              return true">
                    <p style="color:black;"><input type="text" style="width:140px" name="email" placeholder="Email"/>
                    <input type="hidden" value="Betcon" name="uri"/>
                    <input type="hidden" name="loc" value="es_ES"/>
                    <input type="submit" value="Subscribirse" /></p>
                </form>
                <p class="rss-subscribe">O si lo prefieres <a href="http://feeds.feedburner.com/Betcon">a través de RSS</a>.</p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->