<div class="container">
    <div class="gallery-grid">
        {% for project in site.categories['project'] %}
            <div class="gallery-item">
                <a href="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}"
                   class="glightbox"
                   data-gallery="betcon"
                   data-title="{{ project.title }}">
                    <img src="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" alt="{{ project.title }}">
                    <div class="gallery-caption">{{ project.title }}</div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
